
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Monofett&family=Montserrat&display=swap');

body {
    font-family: 'Codystar';
    background-image: url("/img/background-choice.jpeg");
    background-repeat: none;
    background-size: cover;
    /* text-align: center; */
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    font-family: 'Monofett';
    font-weight: bold;
    color:#F1F2C9;
    font-size: 3.3rem;
    margin: 0;
}

.alt-display-messages {
    float: left;
    position: relative;
}

.speech-bubble {
    background-color: #7E82D9;
    height: 110px;
    width: 110px;
    font-weight: bold;
    color: #F1F2C9;
    position: absolute;
    top: 170px;
    left: 160px;
    padding: 30px;
    border-radius: 30%;
    font-size: 1.1rem;
}

.speech-bubble:hover {
    animation-name: up-down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes up-down {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
}

.baby-speech-bubble {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #7E82D9;
    position: absolute;
    top: 345px;
    left: 300px;
}

.baby-speech-bubble-two {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #7E82D9;
    position: absolute;
    top: 400px;
    left: 300px;
}

.mascot {
    border-radius: 50%;
    position: absolute;
    top: 380px;
    left: 70px;
}

.stats {
    float: right;
    position: relative;
    right: 150px;
    top: 160px;
    padding: 10px;
    background-color: #7E82D9;
    font-weight: bold;
    color: #F1F2C9;
    border: 3px inset #7EB0F2;
}

.tamagotchi-body {
    height: 700px;
    width: 500px;
    background: #7E82D9;
    border-radius: 50%;
    border: 4px ridge #7EB0F2;
    position: relative;
    margin: 0 auto;
    opacity: 85%;
}

.tamagotchi-screen {
    height: 250px;
    width: 400px;
    background-color: #7EB0F2;
    background-image: url("/img/main-face.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    position: relative;
    margin: 0 auto;
    top: 140px;
}

.tamagotchi-screen:hover {
    transform: rotateY(180deg);
}

.game-buttons {
   position: absolute;
   bottom: 90px;
   left: 80px;
}

#start {
    padding: 15px 40px 15px 40px;
    margin: 30px;
    font-family: "Codystar";
    font-size: 2.5rem;
    color: #1A4173;
    background: #F1F2C9;
    border: 6px inset #7EB0F2;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px;  
}

#play, #feed, #sleep {
    padding: 15px;
    margin: 10px;
    font-family: "Codystar";
    font-size: 1.2rem;
    color: #1A4173;
    background: #F1F2C9;
    border: 4px inset #7EB0F2;
    border-radius: 15px;
}

#sleep {
    position: absolute;
    bottom: 80px;
}

#feed {
    position: relative;
    bottom: 80px;
} 

@media screen and (max-width: 1400px) {
    #start {
        font-size: 2rem;
        padding: 20px;
    }
    .stats {
        height: 200px;
        width: 200px;
        right: 60px;
        font-size: 1.1rem;
    }
}
