.hold-me {
    height: 600px;
    width: 600px;
    background: #008000;
    margin-left: 25%;
    position: relative;
}

.tamagotchi-body {
    height: 400px;
    width: 400px;
    border-radius: 45%;
    position: absolute;
    margin-left: 25%;
    margin-top: 15%;
    background: black;
}

.tamagotchi-screen {
    background: rgb(133, 126, 126);
    height: 300px;
    width: 300px;
    border-radius: 20%;
    position: absolute;
    margin-left: 35%;
    margin-top: 22%;
}

